@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
html{
	scroll-behavior: smooth;
}
body{
	min-height: 1000px;
	
}
header{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
	transition: 0.6s;
}
header.sticky{
	padding: 5px 100px;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo img{
	position: relative;
	width: 200px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
	color: #000;
}
.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url(images/rata2.png);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fondo img{
	width: 100%;
	height: 120vh;
	
}
.astroimg img{
	width: 200px;
}

.sec{
	background: #fff;
	padding: 100px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec .content{
	position: relative;
	text-align: center;
	width: 100%;
}
.mxw800p{
	max-width: 800px;
	margin: 0 auto;
}
h3{
	font-size: 40px;
	font-weight: 200;
	margin-bottom: 10px;
}
p{
	position: relative;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.services{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}
.services .box{
	width: 300px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;

	box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}
.services .box .iconBx{
	margin-top: 25px;
}
.services .box .iconBx img{
	max-width: 70px;
	margin-bottom: 15px;
}
.services .box h2{
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.stats{
	background: #000;
	padding-top: 250px;
	margin-top: -250px;
}
.stats h3,
.stats p{
	color: #fff;
}
.statsBox{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	max-width: 100%;
	margin-top: 40px;

}
.statsBox h2{
	color: #fff;
	font-size: 36px;
}
.statsBox h4{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.contact{
	background: #000;
}
.contact h3,
.contact p{
	color: #fff;
}
.contactForm{
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	display: flex
}

.contactForm form{
	width: 100%
}
.contactForm .row100{
	display: flex;
	width: 100%;
}
.contactForm .row100 .inputBx50{
	width: 50%;
	margin: 0 20px;
}
.contactForm .row100 .inputBx100{
	width: 100%;
	margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea{
	position: relative;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	background: transparent;
	width: 100%;
	padding: 10px 0;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
	resize: none;  
}
.contactForm .row100 textarea{
	height: 100px;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
	color: rgbs(255,255,255,0.5);

}
.contactForm .row100 input[type="submit"]{
	background: #fff;
	color: #000;
	max-width: 100px;
	
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	font-weight: 500;
}
.sci{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;

}
.sci ul{
	display: flex;
}
.sci ul li{
	list-style: none;
}
.sci ul li a{
	text-decoration: none;
	display: inline-block;
	margin: 0 30px;
}
.sci ul li a img{
	filter: invert(1);
	max-width: 40px;
}
.sci ul li a::hover img{
	opacity: 0.5;
}

.copyright a{
	color: #fff;
}

.containerplus
{
	width: 900px;
	display: flex;
	justify-content: space-around;
	background: #000;
	width: 100%;
}
.containerplus .card
{
	position: relative;
	width: 250px;
	background: #222;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.containerplus .card:hover
{
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
	transform: translateY(-10px);
}
.containerplus .card:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.03);
	pointer-events: none;
	z-index: 1;
}
.percent
{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
	z-index: 100;
}
.percent .number
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 50%;
}
.percent .number h2
{
	color: #777;
	font-weight: 700;
	font-size: 40px;
	transition: 0.5s;
}
.card:hover .percent .number h2
{
	color: #fff;
	font-size: 60px;
}
.percent .number h2 span
{
    font-size: 24px;
    color: #777;
}
.text
{
	color: #777;
	margin-top: 20px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.5s;
}
.card:hover .text
{
	color: #fff;
}
svg
{
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 1000;
}
circle
{
	width: 100%;
	height: 100%;
	fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 10) / 100);
    stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 10) / 100);
    stroke: #c104ff;
}


 @media(max-width:400px){
    header .logo img{
        width: 50px;

    }
	 header ul li{
    	font-size: 0.7em;
    }
	    .content .mxw800p h3 h2{
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 10px;
}
   p{
	
	font-size: 7px;
	
}
	  .services{
  	margin-right: 80px;
  }
	 
	  .mxw800p h3{
 	font-size: 5px;
 }
	 .fondo img{
	width: 100%;
	height: 50vh;




  }
	 .contactForm{
	
	max-width: 1000px;
	
}
	 header ul{
	
	margin-right: 150px;
}
}
